[Unit]
Description=autoxray Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/etc/autoxray
ExecStart=/etc/autoxray/xray run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
